<div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand">OOC Room</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="">
                            <a href="./index.html">Profile</a>
                        </li>
                        <li class="">
                            <a href="./scaffolding.html">Dice Roller</a>
                        </li>
                        <li class="">
                            <a href="./getting-started.html">Rooms</a>
                        </li>
                        <li class="">
                            <a href="./getting-started.html">Create Room</a>
                        </li>
                        <li class="">
                            <a href="./base-css.html">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span9">
                    <div class=" chat-area">

                    </div>
                    <input type="text" class="input-small span8 chat-input">
                    <button type="submit" class="btn btn-inverse chat-send" style="margin-top:-9px;width: 95px;">Send</button>
                </div>
                <div class="span2 chat-sidebar">
                    <div>Lux</div>
                    <div>Wind</div>
                    <div>Tobias</div>
                    <div>Mike</div>
                </div>
            </div>
        </div>
    </div>

</div>