<div class="navbar-inner">
    <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="brand" href="./index.html">City of Angels</a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="">
                    <a href="./index.html">Profile</a>
                </li>
                <li class="">
                    <a href="./getting-started.html">Create Room</a>
                </li>
                <li class="">
                    <a href="./scaffolding.html">Dice Roller</a>
                </li>
                <li class="">
                    <a href="./base-css.html">Admin</a>
                </li>
            </ul>
        </div>
    </div>
</div>